# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 15
    schedule:
      interval: "weekly"
      day: "friday"
      time: "17:00"
      timezone: "Europe/Copenhagen"
    groups:
      tailwind:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/vite"
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
      day: "friday"
      time: "17:00"
      timezone: "Europe/Copenhagen"
