---
const { size = "w-6 h-6" } = Astro.props
---

<svg class={size} xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 15 15"><title>Email</title><path fill="currentColor" fill-rule="evenodd" d="M1 2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm0 1h13v.93l-.24.06L7.5 7.98 1.24 4 1 3.92zm0 1.9V12h13V4.9L7.74 8.89a.5.5 0 0 1-.48 0z" clip-rule="evenodd"/></svg>
