---

---

<p class="text-lg leading-8 text-zinc-400">
  Example output for copy "This is highlight by diferent colour.":
</p>
<pre
  class="mb-3 leading-8 whitespace-pre-line text-zinc-400"
  is:raw>
<span class="bg-amber-400/70 underline underline-offset-4 decoration-2 decoration-amber-400 text-black">highlight</span> - possible grammar mistake <span class="text-white p-1 bg-blue-500 rounded">highlight<span class="font-black">ed</span></span>
<span class="bg-red-400/70 underline underline-offset-4 decoration-2 decoration-red-400 text-black">diferent</span> - possible spelling mistake <span class="text-white p-1 bg-blue-500 rounded">dif<span class="font-black">f</span>erent</span>
<span class="bg-red-400/70 underline underline-offset-4 decoration-2 decoration-red-400 text-black">colour</span> - colour is British English <span class="text-white p-1 bg-blue-500 rounded">colo<span class="font-black">r</span></span>
</pre>
