---
import { Image } from "astro:assets"
import cursorHand from "@assets/images/cursor-hand.svg"
---

<div class="flex grid-cols-2 flex-col text-base sm:grid">
  <div>
    <p class="text-lg leading-8 text-zinc-400">Before</p>
    <pre
      class="text-zinc-100"
      is:raw>
<span class="text-[#CC9EFF]">key</span> <span class="text-[#9BD0FF]">:required</span>, 
    [:<span class="text-[#9BD0FF]">id</span>, <span class="text-[#9BD0FF]">:created_at</span>]<span class="underline decoration-wavy decoration-amber-400 underline-offset-3 decoration-2">
<span class="text-[#CC9EFF]">property</span> <span class="text-[#9BD0FF]">:id</span> <span class="text-[#FF7067]">do</span>
  <span class="text-[#CC9EFF]">key</span> <span class="text-[#9BD0FF]">:type</span>, <span class="text-[#9BD0FF]">:integer</span>
<span class="text-[#FF7067]">end</span>
<span class="text-[#CC9EFF]">property</span> <span class="text-[#9BD0FF]">:created_at</span> <span class="text-[#FF7067]">do</span>
  <span class="text-[#CC9EFF]">key</span> <span class="text-[#9BD0FF]">:type</span>, <span class="text-[#9BD0FF]">:string</span>
  <span class="text-[#CC9EFF]">key</span> <span class="text-[#9BD0FF]">:format</span>, <span class="text-[#9BD0FF]">'date-time'</span>
<span class="text-[#FF7067]">end</span>
<span class="text-[#CC9EFF]">property</span> <span class="text-[#9BD0FF]">:status</span> <span class="text-[#FF7067]">do</span>
  <span class="text-[#CC9EFF]">key</span> <span class="text-[#9BD0FF]">:'$ref'</span>, <span class="text-[#9BD0FF]">:StatusEnum</span>
<span class="text-[#FF7067]">end</span>
<span class="text-[#CC9EFF]">property</span> <span class="text-[#9BD0FF]">:values</span> <span class="text-[#FF7067]">do</span>
<span class="text-[#CC9EFF]">items</span> <span class="text-[#FF7067]">do</span>
    <span class="text-[#CC9EFF]">key</span> <span class="text-[#9BD0FF]">:type</span>, <span class="text-[#9BD0FF]">:number</span>
  <span class="text-[#FF7067]">end</span>
<span class="text-[#FF7067]">end</span>
</span></pre>
    <div class="relative h-14">
      <Image
        class="absolute left-4 h-6 w-auto -rotate-6"
        src={cursorHand}
        alt="Hand cursor"
      />
      <span
        class="absolute top-6 left-6 w-70 rounded border border-zinc-500 bg-zinc-800 p-1 text-white"
        >Use <span class="font-mono">DocsApiHelper.properties</span></span
      >
    </div>
  </div>
  <div>
    <p class="text-lg leading-8 text-zinc-400">After</p>
    <pre
      class="text-zinc-100"
      is:raw>
<span class="text-[#FF9C4D]">DocsApiHelper</span>.<span class="text-[#CC9EFF]">properties</span>({
  <span class="text-[#9BD0FF]">id</span>: <span class="text-[#9BD0FF]">:integer</span>,
  <span class="text-[#9BD0FF]">created_at</span>: { 
    <span class="text-[#9BD0FF]">type</span>: <span class="text-[#9BD0FF]">:string</span>, 
    <span class="text-[#9BD0FF]">format</span>: <span class="text-[#9BD0FF]">'date-time'</span>
  },
  <span class="text-[#9BD0FF]">status?</span>: <span class="text-[#9BD0FF]">:StatusEnum</span>,
  <span class="text-[#9BD0FF]">values?</span>: { 
    <span class="text-[#9BD0FF]">type</span>: <span class="text-[#9BD0FF]">:number</span>, 
    <span class="text-[#9BD0FF]">array</span>: <span class="text-[#6EB8FF]">true</span>
  }
})</pre>
  </div>
</div>
