---
import Email from "@assets/icons/email.astro"
import Linkedin from "@assets/icons/linkedin.astro"
import Link from "@components/Link.astro"
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout>
  <section class="my-10">
    <p
      class="relative z-10 mb-6 bg-linear-(--gradient-accent) bg-clip-text text-center text-3xl text-transparent"
    >
      I'm looking to work on something new&nbsp;<span class="text-white"
        >✨</span>
    </p>

    <article
      style={{
        backgroundImage:
          "radial-gradient(circle, #6c6c6c30 0%, transparent 100%)",
      }}
      class="bg-opacity-40 mb-6 flex flex-col justify-between rounded-lg border border-zinc-700 bg-zinc-900 p-8"
    >
      <Link
        excludeIcon
        className="hover:[&_svg]:text-orange mb-4 flex justify-between"
        target="_blank"
        href="https://www.linkedin.com/in/krystof-spiller"
      >
        <h3 class="text-xl font-semibold">Reach out on LinkedIn</h3>
        <Linkedin />
      </Link>

      <Link
        className="hover:[&_svg]:text-orange flex justify-between"
        target="_blank"
        href="mailto:krystof.spiller@gmail.com"
      >
        <h3 class="text-xl font-semibold">Write me an email</h3>
        <Email />
      </Link>
    </article>

    <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline">
    </div>
  </section>
</BaseLayout>

<script type="text/javascript">
  ;(function (C, A, L) {
    let p = function (a, ar) {
      a.q.push(ar)
    }
    let d = C.document
    C.Cal =
      C.Cal ||
      function () {
        let cal = C.Cal
        let ar = arguments
        if (!cal.loaded) {
          cal.ns = {}
          cal.q = cal.q || []
          d.head.appendChild(d.createElement("script")).src = A
          cal.loaded = true
        }
        if (ar[0] === L) {
          const api = function () {
            p(api, arguments)
          }
          const namespace = ar[1]
          api.q = api.q || []
          if (typeof namespace === "string") {
            cal.ns[namespace] = cal.ns[namespace] || api
            p(cal.ns[namespace], ar)
            p(cal, ["initNamespace", namespace])
          } else p(cal, ar)
          return
        }
        p(cal, ar)
      }
  })(window, "https://app.cal.com/embed/embed.js", "init")
  Cal("init", "meet", { origin: "https://cal.com" })

  Cal.ns.meet("inline", {
    elementOrSelector: "#my-cal-inline",
    config: { layout: "month_view", theme: "dark" },
    calLink: "laegas/meet",
  })

  Cal.ns.meet("ui", {
    theme: "dark",
    cssVarsPerTheme: {
      light: { "cal-brand": "#0a0a0a" },
      dark: { "cal-brand": "#e6805f" },
    },
    hideEventTypeDetails: false,
    layout: "month_view",
  })
</script>
