---
import NarrowLayout from "@layouts/NarrowLayout.astro"
import { Image } from "astro:assets"
import trollface from "@assets/images/trollface.svg"
import iamsuchanamazingdesigner from "@assets/videos/iamsuchanamazingdesigner.mp4"
---

<NarrowLayout>
<section class="my-10">
  <h2 class="mb-2 text-2xl font-semibold flex gap-2">
    I'm fun at parties
  </h2>
  <p class="mb-3 text-lg leading-8 text-zinc-400">
    In free time I create troll <Image class="h-8 w-auto inline-flex" src={trollface} alt="Troll face" /> websites for my favorite project managers.
  </p>
  <video controls loop autoplay muted>
    <source src={iamsuchanamazingdesigner} type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>
</NarrowLayout>
