---
import BaseLayout from "@layouts/BaseLayout.astro"
import Trollface from "@assets/icons/trollface.astro"
import Link from "@components/Link.astro"
import Heading from "@components/Heading.astro"
---

<BaseLayout>
  <section class="my-10">
    <Heading data-as="h2">I'm fun at parties</Heading>
    <div class="mb-3 flex items-center gap-2">
      <Trollface
        size="min-w-10 min-h-10 size-10 sm:min-w-16 sm:min-h-16 sm:size-16"
      />
      <p class="text-lg leading-8 text-zinc-400">
        In free time I create <Link href="/iamsuchanamazingdesigner"
          >troll websites</Link
        > for my favorite project managers.
      </p>
    </div>

    <div class="relative mb-3 h-0 pt-6 pb-[80%]">
      <iframe
        class="absolute top-0 left-0 h-full w-full"
        src="https://player.vimeo.com/video/1065496020?autoplay=1&dnt=1&background=1"
        width="640"
        height="360"></iframe>
    </div>
  </section>
</BaseLayout>
