---
import Close from "@assets/icons/close.astro"
---

<div id="banner" class="flex">
  <div class="h-12"></div>
  <div class="fixed z-10000 h-12 w-[100dvw] bg-neutral-950"></div>
  <div
    class="fixed z-10000 flex h-12 w-[100dvw] items-center justify-center bg-linear-(--gradient-accent-transparent)"
  >
    <div class="mx-12 inline text-center text-sm sm:text-base"><slot /></div>
    <div class="absolute right-0 flex h-12 w-12 items-center justify-center">
      <span id="close"><Close /></span>
    </div>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const close = document.getElementById("close")
    if (!close) return

    close.addEventListener("click", () => {
      const banner = document.getElementById("banner")
      if (!banner) return

      banner.classList.add("hidden")
      banner.classList.remove("flex")
    })
  })
</script>
