---
import Close from "@assets/icons/close.astro"
---

<div id="banner" class="flex">
  <div class="h-12"></div>
  <div class="fixed z-10000 h-12 w-dvw bg-neutral-950"></div>
  <div
    class="fixed z-10000 flex h-12 w-dvw items-center justify-center bg-linear-(--gradient-accent-transparent)"
  >
    <slot />
    <div
      class="absolute right-0 flex h-12 w-8 items-center justify-center sm:w-12"
    >
      <span id="close"><Close /></span>
    </div>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const close = document.querySelector("#close")
    if (!close) {
      return
    }

    close.addEventListener("click", () => {
      const banner = document.querySelector("#banner")
      if (!banner) {
        return
      }

      banner.classList.add("hidden")
      banner.classList.remove("flex")
    })
  })
</script>
