---
const { href, target = "_blank" } = Astro.props
---

<a
  class="rounded-md border border-transparent p-2 transition hover:border-orange hover:bg-zinc-800 hover:text-orange"
  href={href}
  target={target}
>
  <slot />
</a>
