---
import Image from "@components/Image.astro"
import easterEggNA from "@assets/images/easter-egg-na.avif"
import easterEggTrampoline from "@assets/images/easter-egg-trampoline.avif"
import easterEggOIIA from "@assets/images/easter-egg-oiia.avif"
---

<div class="flex shrink-0 gap-1">
  <Image
    id="easterEgg-1"
    class="hidden h-10 w-auto"
    src={easterEggNA}
    alt="Easter egg #1"
  />
  <Image
    id="easterEgg-2"
    class="hidden h-10 w-auto"
    src={easterEggTrampoline}
    alt="Easter egg #2"
  />
  <Image
    id="easterEgg-3"
    class="hidden h-10 w-auto"
    src={easterEggOIIA}
    alt="Easter egg #3"
  />
</div>

<script>
  import { EasterEggs, easterEggCounter } from "@utils/store"
  import butterup from "butteruptoasts"
  import confetti from "canvas-confetti"

  butterup.options.toastLife = 5000

  let confettiFired = false

  easterEggCounter.subscribe((value) => {
    for (const id of value) {
      const img = document.querySelector(`#easterEgg-${id}`)
      if (img) {
        img.classList.remove("hidden")
      }
    }

    if (value.length === Object.keys(EasterEggs).length / 2 && !confettiFired) {
      confettiFired = true

      butterup.toast({
        dismissable: true,
        duration: 1000,
        location: "top-right",
        message: "You found all easter eggs!",
        theme: "butterupcustom",
        title: "🎉 Hooray!",
        toastLife: 1000,
        type: "success",
      })

      confetti({
        angle: 60,
        origin: { x: 0, y: 0.7 },
        particleCount: 100,
        spread: 60,
        startVelocity: 60,
      })

      confetti({
        angle: 120,
        origin: { x: 1, y: 0.7 },
        particleCount: 100,
        spread: 60,
        startVelocity: 60,
      })
    }
  })
</script>
