---
import Image from "@components/Image.astro"
import easterEggUS from "@assets/images/easter-egg-us.png"
import easterEggTrampoline from "@assets/images/easter-egg-trampoline.png"
import easterEggOIIA from "@assets/images/easter-egg-oiia.png"
---

<div class="flex shrink-0 gap-1">
  <Image
    id="easterEgg-1"
    class="hidden h-10 w-auto"
    src={easterEggUS}
    alt="Easter egg #1"
  />
  <Image
    id="easterEgg-2"
    class="hidden h-10 w-auto"
    src={easterEggTrampoline}
    alt="Easter egg #2"
  />
  <Image
    id="easterEgg-3"
    class="hidden h-10 w-auto"
    src={easterEggOIIA}
    alt="Easter egg #3"
  />
</div>

<script>
  import { easterEggCounter } from "@utils/store"
  import butterup from "butteruptoasts"
  import confetti from "canvas-confetti"

  butterup.options.toastLife = 5000

  let confettiFired = false

  easterEggCounter.subscribe((value) => {
    for (const id of value) {
      const img = document.getElementById(`easterEgg-${id}`)
      if (img) {
        img.classList.remove("hidden")
      }
    }

    if (value.length === 3 && !confettiFired) {
      confettiFired = true

      butterup.toast({
        title: "🎉 Hooray!",
        message: "You found all easter eggs!",
        location: "top-right",
        type: "success",
        theme: "butterupcustom",
        dismissable: true,
        duration: 1000,
        toastLife: 1000,
      })

      confetti({
        particleCount: 100,
        angle: 60,
        spread: 60,
        startVelocity: 60,
        origin: { y: 0.7, x: 0 },
      })

      confetti({
        particleCount: 100,
        angle: 120,
        spread: 60,
        startVelocity: 60,
        origin: { y: 0.7, x: 1 },
      })
    }
  })
</script>
