---
import Github from "@assets/icons/github.astro"
import Email from "@assets/icons/email.astro"
import ContainerHover from "@components/ContainerHover.astro"
---

<header>
  <nav class="flex w-full items-center justify-between">
    <div class="flex items-center gap-1">
      <ContainerHover href="/" target="_self">Home</ContainerHover>
      <ContainerHover href="/about/" target="_self">About</ContainerHover>
      <ContainerHover href="/posts/" target="_self">Posts</ContainerHover>
    </div>
    <div class="flex items-center gap-3">
      <ContainerHover href="mailto:krystof.spiller@gmail.com">
        <Email />
      </ContainerHover>
      <ContainerHover href="https://github.com/Laegas">
        <Github />
      </ContainerHover>
    </div>
  </nav>
</header>
