---
import Image from "@components/Image.astro"

import Github from "@assets/icons/github.astro"
import Email from "@assets/icons/email.astro"
import ContainerHover from "@components/ContainerHover.astro"
import Linkedin from "@assets/icons/linkedin.astro"
import EasterEggs from "./EasterEggs.astro"
import { HEADER_HEIGHT } from "@utils/tokens"

import profile from "@assets/images/profile.avif"

const currentPath = Astro.url.pathname
---

<header
  class={`fixed z-100 flex ${HEADER_HEIGHT.tailwindClass} w-full items-center justify-center bg-neutral-950 p-2`}
>
  <nav class="flex w-full max-w-screen-sm items-center justify-center gap-2">
    <div class="flex items-center gap-1">
      {currentPath !== "/" && <ContainerHover href="/">Home</ContainerHover>}
    </div>
    <EasterEggs />
    <div class="flex items-center gap-3">
      <ContainerHover href="https://www.linkedin.com/in/krystof-spiller">
        <Linkedin />
      </ContainerHover>
      <ContainerHover href="mailto:krystof.spiller@gmail.com">
        <Email />
      </ContainerHover>
      <ContainerHover href="https://github.com/krystofspiller">
        <Github />
      </ContainerHover>
    </div>
    <button
      style="cursor: default;"
      class="ml-2"
      data-tooltip="TooltipRef#krystof"
      ><Image
        class="w-6 max-w-6 rounded-full"
        loading="eager"
        width={96}
        height={96}
        src={profile}
        alt="Krystof's profile"
      /></button
    >
    <div id="tooltip-krystof">
      <div class="flex items-center justify-center">
        You found me&nbsp;<span class="text-white">🕵️</span>
      </div><a
        href="https://www.youtube.com/watch?v=wyx6JDQCslE"
        target="_blank"
        ><Image
          class="mt-1 w-64 max-w-64 rounded-lg"
          loading="eager"
          src={profile}
          alt="Krystof's profile"
        /></a
      >
    </div>
  </nav>
</header>
