---
import Github from "@assets/icons/github.astro"
import Email from "@assets/icons/email.astro"
import ContainerHover from "@components/ContainerHover.astro"
import Linkedin from "@assets/icons/linkedin.astro"
import Cal from "@assets/icons/cal.astro"

const currentPath = Astro.url.pathname
---

<header>
  <nav class="flex w-full items-center justify-between">
    <div class="flex items-center gap-1">
      {currentPath !== "/" && <ContainerHover href="/">Home</ContainerHover>}
    </div>
    <div
      id="cal-hidden"
      class="hidden"
      data-cal-link="laegas/chat"
      data-cal-namespace="chat"
      data-cal-config='{"layout":"month_view"}'
    >
    </div>
    <div class="flex items-center gap-3">
      <ContainerHover id="cal-container">
        <Cal />
      </ContainerHover>
      <ContainerHover href="https://www.linkedin.com/in/krystof-spiller">
        <Linkedin />
      </ContainerHover>
      <ContainerHover href="mailto:krystof.spiller@gmail.com">
        <Email />
      </ContainerHover>
      <ContainerHover href="https://github.com/Laegas">
        <Github />
      </ContainerHover>
    </div>
  </nav>
</header>

<script>
  // Clicking container with SVG icon didn't show Cal.com when clicking on the icon directly, therefore this workaround
  const calContainer = document.querySelector("#cal-container")
  const calHidden = document.querySelector("#cal-hidden") as HTMLElement

  calContainer?.addEventListener("click", (e) => {
    e.preventDefault()
    calHidden?.click()
  })
</script>
