---
const { href, target="_self" } = Astro.props
---
<a class="underline hover:text-transparent hover:bg-gradient-accent hover:bg-clip-text decoration-zinc-400" target={target} href={href}><slot /></a>