---
const { className = "mb-3 text-lg leading-8 text-zinc-400" } = Astro.props
---

<span class={className} x-data="{ expanded: false }">
  <span x-show="!expanded"><slot name="before-see-more" /></span>
  <span
    x-show="!expanded"
    class="cursor-pointer underline"
    @click="expanded = ! expanded">See more...</span
  >
  <span x-show="!expanded"><slot name="after-see-more" /></span>
  <span x-show="expanded"><slot /></span>
</span>
