---
import { Image } from "astro:assets"
import IconContainer from "@components/IconContainer.astro"

import Css from "@assets/icons/css.astro"
import Javascript from "@assets/icons/javascript.astro"
import React from "@assets/icons/react.astro"
import Html from "@assets/icons/html.astro"
import Tailwind from "@assets/icons/tailwind.astro"
import AstroIcon from "@assets/icons/astro.astro"
import Express from "@assets/icons/express.astro"
import Node from "@assets/icons/node.astro"
import Mysql from "@assets/icons/mysql.astro"
import Postgresql from "@assets/icons/postgresql.astro"
import ITerm from "@assets/icons/iterm.astro"
import Git from "@assets/icons/git.astro"
import Github from "@assets/icons/github.astro"
import Vscode from "@assets/icons/vscode.astro"
import Figma from "@assets/icons/figma.astro"
import Typescript from "@assets/icons/typescript.astro"
import Eleventy from "@assets/icons/eleventy.astro"
import Npm from "@assets/icons/npm.astro"
import Bun from "@assets/icons/bun.astro"
import Yarn from "@assets/icons/yarn.astro"
import Miro from "@assets/icons/miro.astro"
import Notion from "@assets/icons/notion.astro"
import Prettier from "@assets/icons/prettier.astro"
import ESLint from "@assets/icons/eslint.astro"
import DBngin from "@assets/images/dbngin.png"
import TablePlus from "@assets/images/tableplus.png"
import Typst from "@assets/images/typst.png"
import Stripe from "@assets/images/stripe.png"
import RubyOnRails from "@assets/icons/ruby_on_rails.astro"
import Ruby from "@assets/icons/ruby.astro"
import Csharp from "@assets/icons/csharp.astro"
import Go from "@assets/icons/go.astro"
import Java from "@assets/icons/java.astro"
import Vite from "@assets/icons/vite.astro"
import Intellij from "@assets/icons/intellij.astro"
import Rubymine from "@assets/icons/rubymine.astro"
import Hubspot from "@assets/icons/hubspot.astro"
import Slack from "@assets/icons/slack.astro"
import Heroku from "@assets/icons/heroku.astro"
import Netlify from "@assets/icons/netlify.astro"
import Docker from "@assets/icons/docker.astro"
import Electron from "@assets/icons/electron.astro"
import Appwrite from "@assets/icons/appwrite.astro"
import Convex from "@assets/icons/convex.astro"
import Sentry from "@assets/icons/sentry.astro"
import Datadog from "@assets/icons/datadog.astro"
import CloudflarePages from "@assets/icons/cloudflare_pages.astro"
import Carousel from "./Carousel.astro"
import Expo from "@assets/icons/expo.astro"
import Next from "@assets/icons/next.astro"
import Python from "@assets/icons/python.astro"
import Jest from "@assets/icons/jest.astro"
import Swagger from "@assets/icons/swagger.astro"
import Travis from "@assets/icons/travis.astro"
import OpenApi from "@assets/icons/openapi.astro"
---

<section class="my-6">
  <h3 class="siz mb-4 text-xl font-medium">Frontend</h3>
  <div class="flex flex-wrap items-start justify-start gap-x-4 gap-y-4">
    <IconContainer name="React<br>(+ Native)">
      <React size="size-9" />
    </IconContainer>
    <IconContainer name="Javascript">
      <Javascript size="size-9" />
    </IconContainer>
    <IconContainer name="Typescript">
      <Typescript size="size-9" />
    </IconContainer>
    <IconContainer name="HTML">
      <Html size="size-9" />
    </IconContainer>
    <IconContainer name="CSS">
      <Css size="size-9" />
    </IconContainer>
    <IconContainer name="Tailwind">
      <Tailwind size="size-9" />
    </IconContainer>
    <IconContainer name="Astro">
      <AstroIcon size="size-9" />
    </IconContainer>
    <IconContainer name="Expo">
      <Expo size="size-9" />
    </IconContainer>
    <IconContainer name="Next.js">
      <Next size="size-9" />
    </IconContainer>
    <IconContainer name="Jest">
      <Jest size="size-9" />
    </IconContainer>
    <IconContainer name="Swagger">
      <Swagger size="size-9" />
    </IconContainer>
    <IconContainer name="Electron">
      <Electron size="size-9" />
    </IconContainer>
    <IconContainer name="Eleventy">
      <Eleventy size="size-9" />
    </IconContainer>
    <IconContainer name="Typst">
      <Image class="h-9 w-auto" src={Typst} alt="Typst logo" />
    </IconContainer>
  </div>

  <h3 class="mt-6 mb-4 text-xl font-medium">Backend</h3>
  <div class="flex flex-wrap items-start justify-start gap-5 gap-y-4">
    <IconContainer name="Rails">
      <RubyOnRails size="size-9" />
    </IconContainer>
    <IconContainer name="Ruby">
      <Ruby size="size-9" />
    </IconContainer>
    <IconContainer name="Go">
      <Go size="size-9" />
    </IconContainer>
    <IconContainer name="C#">
      <Csharp size="size-9" />
    </IconContainer>
    <IconContainer name="Python">
      <Python size="size-9" />
    </IconContainer>
    <IconContainer name="Java">
      <Java size="size-9" />
    </IconContainer>
    <IconContainer name="PostgreSQL">
      <Postgresql size="size-9" />
    </IconContainer>
    <IconContainer name="MySQL">
      <Mysql size="size-9" />
    </IconContainer>
    <IconContainer name="Node">
      <Node size="size-9" />
    </IconContainer>
    <IconContainer name="OpenAPI">
      <OpenApi size="size-9" />
    </IconContainer>
    <IconContainer name="Express">
      <Express size="size-9" />
    </IconContainer>
  </div>

  <h3 class="mt-6 mb-4 text-xl font-medium">CI & Collaboration apps</h3>
  <div class="flex flex-wrap items-start justify-start gap-5 gap-y-4">
    <IconContainer name="GitHub<br>(+ Actions)">
      <Github size="size-9" />
    </IconContainer>
    <IconContainer name="Travis CI">
      <Travis size="size-9" />
    </IconContainer>
    <IconContainer name="Notion">
      <Notion size="size-9" />
    </IconContainer>
    <IconContainer name="Figma">
      <Figma size="size-9" />
    </IconContainer>
    <IconContainer name="Miro">
      <Miro size="size-9" />
    </IconContainer>
  </div>

  <h3 class="mt-6 mb-4 text-xl font-medium">APIs</h3>
  <div class="flex flex-wrap items-start justify-start gap-5 gap-y-4">
    <IconContainer name="Stripe">
      <Image class="h-9 w-auto" src={Stripe} alt="Stripe logo" />
    </IconContainer>
    <IconContainer name="HubSpot">
      <Hubspot size="size-9" />
    </IconContainer>
    <IconContainer name="Slack">
      <Slack size="size-9" />
    </IconContainer>
  </div>

  <h3 class="mt-6 mb-4 text-xl font-medium">Infra & Monitoring</h3>
  <div class="flex flex-wrap items-start justify-start gap-5 gap-y-4">
    <IconContainer name="Heroku">
      <Heroku size="size-9" />
    </IconContainer>
    <IconContainer name="Sentry">
      <Sentry size="size-9" />
    </IconContainer>
    <IconContainer name="Datadog">
      <Datadog size="size-9" />
    </IconContainer>
    <IconContainer name="Cloudflare<br>Pages">
      <CloudflarePages size="size-9" />
    </IconContainer>
    <IconContainer name="Netlify">
      <Netlify size="size-9" />
    </IconContainer>
    <IconContainer name="Appwrite">
      <Appwrite size="size-9" />
    </IconContainer>
    <IconContainer name="Convex">
      <Convex size="size-9" />
    </IconContainer>
  </div>

  <h3 class="mt-6 mb-4 text-xl font-medium">Development tools</h3>
  <div class="flex flex-wrap items-start justify-start gap-5 gap-y-4">
    <IconContainer name="Git">
      <Git size="size-9" />
    </IconContainer>
    <IconContainer name="Docker">
      <Docker size="size-9" />
    </IconContainer>
    <IconContainer name="VSCode">
      <Vscode size="size-9" />
    </IconContainer>
    <IconContainer name="IntelliJ">
      <Intellij size="size-9" />
    </IconContainer>
    <IconContainer name="RubyMine">
      <Rubymine size="size-9" />
    </IconContainer>
    <IconContainer name="iTerm">
      <ITerm size="size-9" />
    </IconContainer>
    <IconContainer name="DBngin">
      <Image class="h-9 w-auto" src={DBngin} alt="DBngin logo" />
    </IconContainer>
    <IconContainer name="TablePlus">
      <Image class="h-9 w-auto" src={TablePlus} alt="TablePlus logo" />
    </IconContainer>
    <IconContainer name="Vite">
      <Vite size="size-9" />
    </IconContainer>
    <IconContainer name="Bun">
      <Bun size="size-9" />
    </IconContainer>
    <IconContainer name="npm">
      <Npm size="size-9" />
    </IconContainer>
    <IconContainer name="Yarn">
      <Yarn size="size-9" />
    </IconContainer>
    <IconContainer name="Prettier">
      <Prettier size="size-9" />
    </IconContainer>
    <IconContainer name="ESLint">
      <ESLint size="size-9" />
    </IconContainer>
  </div>

  <h3 class="mt-6 mb-4 text-xl font-medium">Meetings & Processes</h3>
  <Carousel>
    <li>Stakeholder demos</li>
    <li>Code reviews</li>
    <li>1:1s</li>
    <li>Technical design meetings</li>
    <li>Performance reviews</li>
    <li>Pair programming</li>
    <li>Ideation sessions</li>
    <li>RFC-like proposals</li>
    <li>Retrospectives</li>
    <li>Daily standup</li>
    <li>Office hours</li>
    <li>Grooming sessions</li>
    <li>Colleague mentoring</li>
  </Carousel>
</section>
