---
const { text, delay } = Astro.props
---

<div
  class="animate-amazing-move relative z-50 h-16 w-16 -translate-x-1/2 -translate-y-1/2"
  style={`animation-delay: ${delay - 4}s;`}
>
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <svg
      height="64"
      width="64"
      viewBox="0 0 60 60"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon
        class="fill-current text-orange-600"
        points="30,0,33.13333083910761,5.197132467138054,37.46069661494565,0.9425051661410677,39.20311381711695,6.755587852793717,44.45261022305146,3.710799598684094,44.69463130731183,9.774575140626315,50.536413177860666,8.130941177357652,49.262831069394736,14.06440025628276,55.329837765060454,13.925196150630104,52.620676311650485,19.355517710873183,58.53169548885461,20.729490168751575,54.55718126821722,25.315467135356887,59.940801852848146,28.1162844141206,54.95066821070679,31.569762988232835,59.46861752186066,35.621439437571745,53.77641290737884,37.72542485937369,57.14481157398058,42.77337874695218,51.108198137550374,43.39566987447492,53.11539728327368,49.12271969246069,47.11367764821721,48.22421568553529,47.633557568774194,54.27050983124842,42.04384185254288,51.90766700109659,41.04373658054033,57.89329457664755,36.21724717912137,54.21457902821578,33.759997006929126,59.76344103943434,29.999999999999993,55,26.24000299307087,59.76344103943434,23.782752820878624,54.21457902821578,18.956263419459653,57.893294576647534,17.956158147457117,51.907667001096584,12.3664424312258,54.27050983124842,12.88632235178278,48.224215685535285,6.88460271672632,49.122719692460684,8.891801862449618,43.395669874474905,2.8551884260194065,42.77337874695216,6.2235870926211625,37.72542485937369,0.5313824781393386,35.62143943757174,5.049331789293213,31.56976298823283,0.059198147151853675,28.11628441412059,5.442818731782786,25.315467135356872,1.4683045111453907,20.729490168751582,7.379323688349512,19.355517710873187,4.67016223493955,13.925196150630097,10.737168930605275,14.06440025628275,9.463586822139352,8.130941177357645,15.305368692688186,9.774575140626304,15.54738977694854,3.710799598684094,20.796886182883053,6.755587852793713,22.539303385054367,0.9425051661410642,26.866669160892407,5.197132467138054"
      ></polygon>
    </svg>
  </div>
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    {text}
  </div>
</div>
