---
import "../styles/global.css"

import Spinner from "@components/Spinner.astro"
import Tooltip from "@components/Tooltip.astro"
import { ClientRouter } from "astro:transitions"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import Banners from "@components/Banners.astro"

const title = Astro.props.title
  ? `${Astro.props.title} | Krystof Spiller`
  : "Krystof Spiller"

const lookingForJob = false
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta
      name="description"
      content="Krystof Spiller is a detail-oriented software engineer with 6 years of experience."
    />
    <ClientRouter />
    <Tooltip />
  </head>
  <body
    class="selection:bg-orange h-full min-h-[100vh] bg-neutral-950 font-sans text-white selection:text-white"
  >
    {lookingForJob ? <Banners /> : <Header lookingForJob={lookingForJob} />}
    <div
      class="mx-auto flex h-full min-h-[calc(100vh-48px)] max-w-screen-sm flex-col justify-between px-6 pt-14 pb-14 selection:bg-gray-600 selection:text-white sm:px-8 lg:pb-0"
    >
      <div>
        {lookingForJob && <Header lookingForJob={lookingForJob} />}
        <slot />
      </div>
      <Footer />
    </div>
    <div
      id="loading"
      class="fixed top-0 left-0 z-50 hidden h-[100vh] w-[100vw] items-center justify-center bg-neutral-950/70 opacity-0 transition-all delay-150 duration-500"
    >
      <Spinner />
    </div>
  </body>
</html>

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
      anchor.addEventListener("click", function (e) {
        e.preventDefault()

        const href = anchor.getAttribute("href")
        if (!href) return

        document.querySelector(href)?.scrollIntoView({
          behavior: "smooth",
        })
      })
    })
  })
  document.addEventListener("astro:before-preparation", () => {
    const loading = document.querySelector("#loading")
    if (!loading) return

    loading.classList.add("flex")
    loading.classList.remove("hidden")

    window.setTimeout(function () {
      loading.classList.add("opacity-100")
    }, 50)
  })
  document.addEventListener("astro:after-preparation", () => {
    const loading = document.querySelector("#loading")
    if (!loading) return

    loading.classList.add("hidden")
    loading.classList.remove("flex")
    loading.classList.remove("opacity-100")
  })
</script>

<style>
  html,
  body {
    font-optical-sizing: auto;
  }
</style>
