name: Checks

on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: Build
        run: pnpm run build
  lint-and-format:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: Lint
        run: pnpm run lint:ci
      - name: Format
        run: pnpm run format:ci
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: Test
        run: pnpm run test
        env:
          ENV: test
  playwright:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: Install Playwright Browsers
        run: pnpm exec playwright install chromium --only-shell
      - name: Run Playwright tests
        run: pnpm exec playwright test
        env:
          ENV: ci
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
