name: Checks

on:
  workflow_call:
    secrets:
      youtube_api_key:
        required: true
env:
  ENV: test
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  YOUTUBE_API_KEY: ${{ secrets.youtube_api_key }}

jobs:
  checks:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - name: Build
        run: pnpm build
      - name: Lint
        run: pnpm lint:ci
      - name: Format
        run: pnpm format:ci
      - name: Knip
        run: pnpm knip
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - name: Test
        run: pnpm test

  playwright:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - name: Install Playwright Browsers
        run: pnpm exec playwright install chromium --only-shell
      - name: Run Playwright tests
        run: pnpm exec playwright test
        env:
          ENV: ci
      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
